{
  "useTabs": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx"],
  "tailwindStylesheet": "./src/index.css"
}
