@import "tailwindcss";

:root {
  font-family: 'Space Mono', 'Courier New', monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #0a0a0f;;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
